  // Testing
  $primary: #E76C67;
  $border: #efefef;

  * {
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444444;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
  }

  body {
    margin: 1rem 0;
  }

  a {
    color: $primary;
    text-decoration: none;
    transition: all .3s ease;
  }

  .container {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media screen and (min-width: 800px) {
    .flex-container {
      display: flex;
    }
  }

  .card {
    flex: 1 1 50%; 
    border: 1px solid $border;
    margin: 15px 0;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
    position: relative;
    &:hover {
      box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
    }
    h1 {
      margin: 0;
      font-size: 1.75rem;
      line-height: 1.2;
    }
    p {
      margin: 0 0 30px;
      color: #666666;
    }
    .subtitle {
      margin: 0 0 15px;
      font-size: 1.25rem;
      font-weight: 700;
      color: $primary;
    }
    .card-image {
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .card-content {
      padding: 30px 30px 110px;
    }
    .card-details {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
    .card-details-inner {
      border-top: 1px solid $border;
      margin: 0 30px;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .options {
      a {
        color: #666666;
        &:hover {
          color: #222222;
        }
      }
      .fa {
        margin-right: .25rem;
      }
    }
  }

  @media screen and (min-width: 800px) {
    .card {
      margin: .5rem;
    }
  }

  .button {
    display: block;
    font-size: 1rem;
    background: $primary;
    border: 1px solid $primary;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    &:hover,
    &:focus {
      background: darken($primary, 10%);
      border: 1px solid darken($primary, 10%);
    }
  }